<!DOCTYPE html>
<html lang="ru"> 
<head>
    <title>RegisterForm</title>
    <meta charset="UTF-8" />
    <link href="II-s.css" rel="stylesheet" />
</head>

<body>

<form id="loginForm" action="" method="post">

    <div class="field">
        <label>Имя пользователя:</label>
        <div class="input"><input type="text" name="" value="" id="login" /></div>
    </div>

    <div class="field">
        <label>Пароль:</label>
        <div class="input"><input type="password" name="" value="" id="pass" /></div>
    </div>

    <div class="submit">
        <button  type="submit">Войти</button>
    </div>

</form>

</body>
</html>